body 
{
	background-color: #A3748D;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif
}

.center 
{
	text-align: center;
	color: #FFFFFF
}

.justcolor 
{
	color:#4E1728
}

.colorlight 
{
	color: #FFDED3 
}

.fig 
{
	text-align: center; 
}